<header>
  <h2 class="left">出團資訊</h2>
</header>

<article>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">      
      <% @tours.each do |tour| %>
        <tr>
          <td width="30%">
            <%= link_to admin_tour_departures_path(tour) do %>
              <%= tour.name %>
            <% end %>            
          </td>
          <td width="70%">
          <%= link_to admin_tour_departures_path(tour) do %>
              <%= tour.en_name %>
            <% end %>
          </td>
        </tr>        
      <% end %>
    </table>
  </div>
</article>