<nav class="left">
  <ul>
    <li>
      <%= link_to admin_contacts_path do %>
        <img src="/images/admin/contact.png">聯絡我們
      <% end %>
    </li>
    <li>
      <%= link_to admin_tours_path do %>
        <img src="/images/admin/news.png">出團資訊
      <% end %>
    </li>
    <li>
      <%= link_to admin_expenses_path do %>
        <img src="/images/admin/dollar.png">行程費用
      <% end %>
    </li>
  </ul>
  <ul>
  <li>
      <%= link_to admin_admins_path do %>
        <img src="/images/admin/manager.png">管理者
      <% end %>
    </li>
  </ul>
</nav>
