<link href="/css/itinerary.less" rel="stylesheet/less" />
<link href="/css/print.less" rel="stylesheet/less" media="print"/>
<style>
  #banner{background-image:url(/images/ea-01.jpg)}
</style>

<article>
  <section id="article-1">
    <div class="container text-center">
      <h3>大旅行家探險行程</h3>
      <h4>東非越野獵遊 12 天</h4>
      <div class="row" id="intro">
        <div class="col-sm-2 col-sm-offset-1 clearfix">
          <img src="/images/itn-01.png" class="img-responsive"><br><p>每隔週的星期六</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-02.png" class="img-responsive"><br><p>奈洛比>奈洛比</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-24.png" class="img-responsive"><br><p>1 晚飯店</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-03.png" class="img-responsive"><br><p>2 晚旅館</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-18.png" class="img-responsive"><br><p>8 晚露營</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>肯亞與坦尚尼亞的精華盡在本趟行程之中。我們不僅將幾個國際知名，被譽為「探索頻道之家」的國家公園囊括進來，也造訪了幾處鮮為人知的區域與當地的土著互動，這些土著中包括了著名的馬賽人。我們獵遊的路線將受到天氣和路況的影響，希望團員都可以抱持著彈性的心態。如果想要充分享受這個地區，大家最好帶著一副開放的心胸和自動自發的精神踏上旅程。</p>
        </div>
        <div class="col-sm-4 text-center"><img src="/images/ea-02.jpg" class="img-responsive"> </div>
      </div>
    </div>
  </section>  
  <section id="article-5">
    <div class="container">
    ( 用餐資訊：B=Breakfast, L=Lunch, D=Dinner )
    </div>
  </section>
  <section id="article-2">
    <div class="container row">
      <div class="col-sm-8" id="accordion">
        <h5><span class="day">Day1</span>奈洛比（Nairobi）</h5>
        <div>
          <p>抵達奈洛比，在我們位於繁忙的市中心區的飯店碰面。早到的團員可以參加自選行程和短程的小旅行，這些自選行程都可以由飯店安排。18h00我們會舉行行前說明會，之後到當地餐廳吃晚飯（自費）。</p>           
        </div>
        <h5><span class="day">Day2</span>東非大地塹（Great Rift Valley）</h5>
        <div>
          <p>離開都市向北走，一直往上爬到達懸崖絕壁的邊緣，從這個絕佳的角度俯瞰東非大地塹。接下來我們往下走到達谷地，享受美不勝收的原野奇觀和聚集在湖邊飲水的鳥類生態。今晚在此紮營過夜。<span>BLD</span></p>
          <img src="/images/ea-03.jpg" class="img-responsive">             
        </div>
        <h5><span class="day">Day3</span>奈瓦夏湖（Lake Naivasha）</h5>
        <div>
          <p>今天短短開一段路，到達在奈瓦夏湖畔的營區。在金雞納樹叢中設好帳篷之後，我們可以稍事休息，觀看河馬和欣賞如夢似幻的絕美風景。下午造訪愛莎米爾（Elsamere）──喬伊和喬治․亞當遜（Joy and George Adamson）的故居，在此喝下午茶，深入了解寫出《獅子與我》這樣動人的故事的作家的家居生活。回到營地。<span>BLD</span></p>
          <img src="/images/ea-04.jpg" class="img-responsive">          
        </div>
        <h5><span class="day">Day4</span>馬賽馬拉（Masai Mara）</h5>
        <div>
          <p>今天駛進行家才知道的小徑，穿越肯亞最美的曠野，沿途經過無數馬賽村莊。我們將在著名的馬拉河畔的旅館度過兩夜。<span>BLD</span></p>       
        </div>
        <h5><span class="day">Day5</span>馬賽馬拉（Masai Mara）</h5>
        <div>
          <p>今晨早早動身，用一整天的時間來驅車獵遊和／或漫步獵遊。馬賽馬拉以大群聚集的野生動物和陰魂不散的掠奪性食肉動物聞名。我們會在此搜尋野生動物。中午在河中聚集大群鱷魚和河馬的馬拉河畔野餐。<span>BLD</span></p>      
          <img src="/images/ea-05.jpg" class="img-responsive">    
        </div>
        <h5><span class="day">Day6</span>維多利亞湖（Lake Victoria）</h5>
        <div>
          <p>離開馬賽馬拉，進入坦尚尼亞，往下走到非洲最大的湖泊，維多利亞湖。這座湖是東非大地塹的一部份，許多土著都以湖中的漁獲維生。我們會在此遊賞片刻，晚上則在當地餐廳享受一頓自費的晚餐。我們在湖畔紮營過夜。<span>BL</span></p>       
        </div>
        <h5><span class="day">Day7</span>塞倫蓋提（Serengeti）</h5>
        <div>
          <p>今天進入舉世聞名的塞倫蓋提國家公園，這裡是野生動物的最大庇護所，常年都有數以百萬計的成群草食動物，肉食動物和種類繁多的鳥類在此活動。這片大草原一望無際，並有刺槐森林點綴其中，是非洲所有野生動物公園的縮影。我們會在公園中從西向東蜿蜒前進，飽覽野生動物活動。晚上在充滿活力的塞羅奈拉（Seronera）營地宿營。<span>BLD</span></p>         
        </div>
        <h5><span class="day">Day8</span>塞倫蓋提—恩格龍格魯（Ngorongoro）</h5>
        <div>
          <p>晨間經過大範圍的驅車獵遊之後，我們離開塞倫蓋提，進入恩格龍格魯保護區，這裡可以看到馬賽土著在成群的野生動物之間放牧牛羊，他們仍然過著千古不變的放牧生活。今晚我們就要在景色壯麗的恩格龍格魯火山口邊緣的辛巴營地宿營。從營區往下俯視，美景盡收眼底。<span>BLD</span></p>   
          <img src="/images/ea-06.jpg" class="img-responsive">         
        </div>
        <h5><span class="day">Day9</span>恩格龍格魯—馬賽</h5>
        <div>
          <p>天一亮我們就坐上小型的四輪傳動獵遊車，驚心動魄地下降到火山口底部，探索這個擁有陡峭的山壁和豐沛的水源和食物，堪稱野生動物快樂天堂的豐饒平原。我們在此幾乎可以看到所有的非洲哺乳動物，包括罕見的黑犀牛在內。我們可以在寬闊的平原上，近距離地觀賞這些野生動物，這應該是最難能可貴的野生動物觀賞經驗。回到辛巴營地，出園前先享用午餐，然後下山到達我們的營地。我們會在馬賽人的環繞之下，在此宿營兩夜。<span>BLD</span></p>                  
        </div>  
        <h5><span class="day">Day10</span>馬賽村落</h5>
        <div>
          <p>今天我們會步行探索馬賽村落和四周的環境，並且花點時間吸收馬賽人獨特的文化，希望能看到馬賽傳統舞蹈並且享受在市場購物討價還價的樂趣，這些都是馬賽人傳統生活的一面。晚上宿營。<span>BLD</span></p>               
          <img src="/images/ea-07.jpg" class="img-responsive">       
        </div>
        <h5><span class="day">Day11</span>阿魯夏（Arusha）</h5>
        <div>
          <p>早早動身前往梅魯火山（Meru）腳下的小鎮阿魯夏。下午我們會花時間探索這座可愛的小鎮和當地的市集。晚上在當地餐廳享用晚餐（自費）。<span>B</span></p>           
        </div>  
        <h5><span class="day">Day12</span>搭車回到奈洛比</h5>
        <div>
          <p>早餐之後，我們回到奈洛比（偶爾也可能藉由機場巴士載團員去機場）。這趟路程沿途風景壯麗，如果遇到晴天，還可以遠眺非洲最高山，宏偉的吉力馬札羅山。回到奈洛比之後，要在當日搭飛機離境的人，可以先行換搭巴士去機場。想續住在奈洛比或是要繼續旅遊的人則會被載去市中心。<span>B</span></p>           
        </div>  
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <aside>
          <h5 id="aside-1">重要訊息</h5>
          <ul>
          <li style="background-image:url(/images/itn-16.png)">帶著開放的心胸和彈性的心態上路，才可充分享受這趟旅程。道路狀況，氣候變化或其它不可預知的狀況都可能改變既有的行程，希望團員多多擔待。</li>
          <li style="background-image:url(/images/itn-08.png)">團員必需自行攜帶睡袋、枕頭和盥洗用的毛巾。</li>
          <li style="background-image:url(/images/itn-19.png)">  建議攜帶美金，並準備小額鈔票及零錢，以支付不包含在團費內的自費項目。</li>         
          <li style="background-image:url(/images/itn-09.png)">出發前需要注射季節性瘧疾疫苗（當地也可施打）。</li>
          <li style="background-image:url(/images/itn-20.png)">建議在徒步旅行時攜帶輕便背包。</li>
          <li style="background-image:url(/images/itn-23.png)">大部份國家的人民到肯亞和坦尚尼亞旅行都需要有兩國的簽證。這部份責任由團員自負，請務必提早與有關單位聯絡安排簽證事宜。</li>
          <li style="background-image:url(/images/itn-12.png)">出發之前，每位旅客都需要簽署一項訂位條件和一般資訊的附屬合約。旅客也需要擁有完善的個人旅遊保險。</li>
          </ul>
          <h5 id="aside-2">團費須知</h5>
          <ul>
            <li style="background-image:url(/images/itn-13.png)">包括奈洛比至奈洛比的交通，住宿，入場券，入園券，特許券，團體裝備，專業導遊以及大部份的餐食。</li>
            <li style="background-image:url(/images/itn-14.png)">不包括酒精飲料，瓶裝水，軟性飲料，美術珍品，小費，稅金，簽證和自選行程。</li>
            <li style="background-image:url(/images/itn-15.png)">自費項目<span>（實際項目會依當地情況增減）</span>：<br>
              <span>●</span> 搭乘熱氣球
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
  <section id="article-3" class="hidden-xs">
    <div class="container text-center">
      <h4>精彩亮點</h4>
      <div class="row">
        <div class="col-md-2 col-sm-4"><p>奈洛比</p></div>
        <div class="col-md-2 col-sm-4"><p>馬賽馬拉國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>奈瓦夏湖</p></div>
        <div class="col-md-2 col-sm-4"><p>維多利亞湖</p></div>
        <div class="col-md-2 col-sm-4"><p>塞倫蓋提國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>恩格龍格魯火山口</p></div>
        <div class="col-md-2 col-sm-4"><p>馬賽村</p></div>
        <div class="col-md-2 col-sm-4"><p>阿魯夏</p></div>
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container">
      <div class="clearfix">
        <h4 class="pull-left">當地出發日期與空位</h4>
        <p class="pull-left">（所有日期都是根據當地出發地，並非從台灣出發）</p>
      </div>
      <div class="row" id='departure_preview'>
        <p style='text-align:center;'>Loading... this might take a while!</p>
        <div id='looking_for' style='display:none;'>East_Africa_12_day</div>
      </div>
      <a href='<%= "#{contacts_url}" %>'>看更多>></a>
    </div>
  </section>
</article>