<link href="/css/experience.less" rel="stylesheet/less" />
<script>
  $(document).ready(function(){
    $('#article-2').parallax({offsetY:-200,speedFactor:.2}); 
    $('#article-4').parallax({offsetY:-200,speedFactor:.3}); 
  }); 
</script>

<article>
  <section id="article-1">
    <div class="container text-center">
    <h3>大旅行家越野系列特色</h3>
    <h4>體驗式學習</h4>
    <p><img src="/images/exp-02.png" class="img-responsive"><br>
    大旅行家越野系列在設計遊程時，著重來自世界各地的團員之間，以及團員和司機導遊間的互動與合作，在旅遊的同時，也提升了我們對身處的世界的了解和知識。</p> 
    </div>
  </section>
  <section id="article-2">
    <div class="container row"> 
    <div class="col-sm-5">
    <p>首先，與跟我們一樣好奇的各國遊客同車旅遊會帶來無比的文化震撼；其次，司機導遊也會用最身歷其境的方式讓遊客看見不一樣的世界。</p>    
    </div>
    <div class="col-sm-6 col-sm-offset-1 text-center">
    <img src="/images/exp-03.png" class="img-responsive">
    </div>
    </div>
  </section>
  <section id="article-3">
    <div class="container row">
      <div class="col-md-4 text-center"><h4>專業</h4><h5>Professional</h5>
      <div class="hidden-xs hidden-sm">
      <br><br><br>
      <img src="/images/exp-07.jpg" class="img-responsive">
      </div>
      </div> 
      <div class="col-md-8"><p>大旅行家越野系列的司機導遊既專業又幽默，整個行程走下來，團員感覺帶領行程的不僅是一位司機兼導遊，還是一位金牌主廚兼萬能褓母兼頂級生態解說員兼隨機應變高手。大旅行家越野系列的司機兼導遊受過嚴格訓練，並且均經過南非旅遊局及南非導遊公會認證，是領有南非田野嚮導執照的專業司機導遊，他們非但可以如數家珍地介紹景觀和生態，還可以細心照顧團員餐飲、換鈔、購物、過境等細節，總之，團員把一切疑難雜症交給他就對了。</p>
      
      <p>司機導遊駕駛技術精良，對非洲各城市道路瞭如指掌，並且熟識非洲文化歷史和動植物生態，會隨機解說路邊看到的珍稀動植物的生態習性，讓人彷彿置身活的生態教室。附帶一提的是司機導遊的廚藝精湛，每餐的膳食都做到好吃又不浪費的地步，可以比美餐廳菜色。最重要的是，大旅行家強調團隊精神，儘管負責採買掌廚的是司機導遊，但是每位團員都得動手參與，分工處理食材和餐後的碗盤收拾與清理，團員們間強烈的互動，讓大家友情升溫，一下子就打成了一片。</p>
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container"> 
    </div>
  </section>
</article>