<h1>KrugerPark5day</h1>
	<% Departure.where(tour_id: Tour.where(en_name: 'Kruger_Park_5_day') ).order(:ranking).each do | schedule | %>
    <% JSON.parse(open("#{schedule.url}").read).each do |event| %>
   		
			<div><%= event["date"] %><span> <%= event["pax"] %></span></div>

    <% end %>
  <% end %>