
<script src="/js/itinerary.js"></script> 
<link href="/css/itinerary.css" rel="stylesheet" />
<link href="/css/print.css" rel="stylesheet" media="print"/>
<style>
  #banner{background-image:url(/images/nb-01.jpg)}
</style>

<article>
  <section id="article-1">
    <div class="container text-center">
      <h3>大旅行家探險行程</h3>
      <h4>納米比亞秘境野營 17 天</h4>
      <div class="row" id="intro">
        <div class="col-sm-2 clearfix col-sm-offset-1">
          <img src="/images/itn-01.png" class="img-responsive"><br><p>每月的第 2 個星期二</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-02.png" class="img-responsive"><br><p>溫荷克 >溫荷克</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-03.png" class="img-responsive"><br><p>2 晚旅館</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-22.png" class="img-responsive"><br><p>2 晚小木屋</p>
        </div>
        <div class="col-sm-2 clearfix">
          <img src="/images/itn-18.png" class="img-responsive"><br><p>9 晚露營</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>無情的驕陽照射著大地，乾涸的大地似乎向上蒼乞求著雨水，放眼望去盡是綿延不斷的沙漠景觀。每個人都對能在這樣嚴酷的沙漠環境中生存的動物和植物發出驚嘆。這趟旅途不僅囊括了納米比亞的中部和北部，也包含了許多不為人知的秘境。抱持著隨遇而安以及願意投身參與和覺察四周的環境的心態，才能盡情享受這次旅途。</p>
        </div>
        <div class="col-sm-4 text-center"><img src="/images/nb-02.jpg" class="img-responsive"> </div>
      </div>
    </div>
  </section>  
  <section id="article-5">
    <div class="container">
    ( 用餐資訊：B=早餐 / L=午餐 / D＝晚餐 / Brunch=早午餐 )
    </div>
  </section>
  <section id="article-2">
    <div class="container row">
      <div class="col-sm-8" id="accordion">
        <h5><span class="day">Day1</span>溫荷克（Windhoek）</h5>
        <div>
          <p>14：00 在旅館簡報行程。下午有 2 小時的熙熙攘攘的卡圖圖拉（Katatura）自行車之旅，及參訪數個溫荷克景點，再去 Joe’s  啤酒屋或者類似的餐廳享用自費溫馨晚餐並繼續行程簡報。</p>        
        </div>
        <h5><span class="day">Day2</span>溫荷克（Windhoek）- 卡格拉格帝（Kgalagadi）</h5>
        <div>
          <p>早晨出發，向南踏上多風的路途，前往遼闊的喀拉哈里（Kalahari）沙漠。沿途會經過數個遊客罕至的農耕小鎮，情況許可時將逗留並與居民寒暄。傍晚時分到達夜宿地卡格拉格帝（Kgalagadi）營區。在熟悉營區環境後，一起享用星光晚宴。<span>BLD</span></p>    
        </div>
        <h5><span class="day">Day3</span>卡格拉格帝跨境公園（Kgalagadi Transfrontier Park）</h5>
        <div>
          <p>享用華麗早餐後驅車前往卡格拉格帝跨境公園獵遊，一個跨越南非與波扎那（Botswana）國邊境的公園。卡格拉格帝跨境公園以擁有數量眾多的肉食掠奪者動物聞名。是觀賞獵豹、黑鬃毛獅子以及各種鳥類的獨一無二所在。我們大部分時間都在南非境內巡弋，尋找野生動物的蹤跡。當晚在公園內某一休息營區的駱駝刺樹叢中紮營。<span>BLD</span></p>
          <img src="/images/nb-03.jpg" class="img-responsive">          
        </div>
        <h5><span class="day">Day4</span>卡格拉格帝（Kgalagadi）- 魚河大峽谷（Fish River Canyon）</h5>
        <div>
          <p>日出時分出發。在短暫的驅車獵遊後回營享用早午餐。收拾行囊之後再度入境納米比亞，踏上喀拉哈里（Kalahari）風景絕美的路途。一路穿越眾多高大且有著優美景點的沙丘，奔向基特曼斯胡普（Keetmanshoop）及名列世界第二的魚河大峽谷。我們將在峽谷停留一段時間，以便將峽谷風景盡收眼底。夜宿大峽谷底的溫泉鄉艾-艾斯（Ai-Ais）。<span>BLD</span></p>       
        </div>
        <h5><span class="day">Day5</span>魚河大峽谷（Fish River Canyon）- 奧斯（Aus）</h5>
        <div>
          <p>早晨先享受一段短短的大峽谷谷底漫步，再出發走荒涼的路徑前往旅途的最南端，壯觀的奧蘭治河（Orange River）。作為納國與南非的邊界，奧蘭治河形成一個綠色的植物帶，沿著像是飽受祝融的高山蜿蜒而上。我們將在此休息吃中餐，甚至有機會到河中游泳。下午進到納米比（Namib Desert）沙漠，直奔迷人的奧斯（Aus）小鎮。我們在此紮營。<span>BLD</span></p>
          <img src="/images/nb-04.jpg" class="img-responsive">       
        </div>
        <h5><span class="day">Day6</span>奧斯（Aus）- 呂德里茨（Luderitz）- 卡曼斯科<br>（Kolmaskop）- 奧斯（Aus）</h5>
        <div>
          <p>清早出發，穿越開闊的沙漠向大西洋前進。第一站是卡曼斯科鬼城。我們將徒步觀光這個一度因鑽石礦而富裕，如今卻披覆黃沙的地方，行走在建築之間憑弔著昔日的繁華。然後前往座落在一個不毛海岸的小海港呂德里茨。我們將拜訪狄亞茲（Dias）在1487 年所矗立的十字架，遊覽市區觀賞此地獨特的建築。下午回程再穿越沙漠，並在路過沙漠的野馬群落時稍事逗留。<span>午餐自理</span></p>  
        </div>
        <h5><span class="day">Day7</span>納米比沙漠保留區（Namib Desert Reserve）</h5>
        <div>
          <p>早晨悠閒漫步市區。今天將進入到納米比沙漠的心臟。觀賞巨大的植物、紅色沙丘及高聳的岩石山脈。今明兩晚都住在綠火沙漠營地（Greenfire Desert Camp），背對著保留區內一個裸岩的偏遠所在，屬於龐大的納米蘭德自然保護區（Namib Rand Nature Reserve）的一部分。這裡保育著沙漠生態環境與野生動物。我們整個白天徒步深度探索，夜晚則驅車獵遊。<span>BLD</span></p>
          <img src="/images/nb-05.jpg" class="img-responsive">      
        </div>
        <h5><span class="day days">Day8</span>沙漠保留區（Desert Resrve）</h5>
        <div>
          <p>在一望無際的沙漠景觀中醒來。旅遊業務支援了保留區及野生動物的保護。區內所有野生動物皆生活在完全自然的環境中。牠們在占地二十萬兩千公頃的園區內自由自在四處走動。嚮導將幫助我們更深入了解此地獨特的動物及植物。<span>BLD</span></p>         
        </div>
        <h5><span class="day days">Day9</span>索蘇斯弗雷沙丘（Sossusvlei Dunes）</h5>
        <div>
          <p>清早出發，繼續通過一望無際平坦的沙漠，去到西斯里姆峽谷（Seriem Canyon）跟號稱世界第一高的壯觀的索蘇斯弗雷沙丘群。在徒步探險峽谷之後，我們轉移到沙丘群的中心（最後一段使用四輪傳動車），並且花些時間攀登這些壯觀的由沙子所構成的山丘。之後再到荒蕪的沙漠中紮營。<span>BLD</span></p>
          <img src="/images/nb-6.jpg" class="img-responsive">   
        </div>
        <h5><span class="day days">Day10-11</span>斯瓦科普蒙德（Swakopmund）</h5>
        <div>
          <p>穿越納米布-諾克盧福國家公園（Namib Naukluft Park）造訪戲劇化的月球景觀和據說高齡兩千歲的千歲蘭（welwitschia），之後來到濱海小鎮華維斯灣（Walvis Bay）一覽潟湖風光。接著去到斯瓦科普蒙德，在舒適且位於市中心的斯瓦科普蒙德綠火小屋渡過兩夜。我們將全面探索此鎮及周遭地區，在當地的夜總會用晚餐（自費）。團員可去玩四輪沙灘車，滑沙及花式跳傘（均自費）。</p>        
        </div>
        <h5><span class="day days">Day12</span>骷顱海岸（Skeleton Coast）- 布蘭德堡山（Brandberg Mountain）</h5>
        <div>
          <p>今天前往遍佈遇難船隻的荒蕪不毛的骷顱海岸，之後轉往十字岬海豹保護區，這裡是數萬頭開普軟毛海豹的棲息地。接著往內陸尋奇，來到耀眼的納米比亞第一高峰，布蘭德堡山。我們將在一處沙漠象群經常出沒的乾涸河床野營。我們登上山頂去看那被普遍認為是繪於兩千年前的布須曼岩畫，白色女士（White Lady）。同時也希望在此停留的期間能夠看到色彩斑爛的本土情侶鸚鵡（Lovebird）。<span>BLD</span></p>        
        </div>
        <h5><span class="day days">Day13</span>特威菲爾泉（Twyfelfontein）- 帕爾姆瓦格（Palmwag）</h5>
        <div>
          <p>繁忙的一天，先去看管風琴山壁(Organ Pipes)和特威菲爾的古老岩畫。接著進入達瑪拉蘭(Damaraland)，穿越戈特山(Grootberg)，在沙漠綠洲帕爾姆瓦格附近的營地過夜。這是少數永久性水坑之一，數量稀少的沙漠犀牛、大象及其他種類的沙漠動物，會來此飲水。希望今日能近距離觀賞到這群華麗的動物。<span>BLD</span></p>        
        </div>
        <h5><span class="day days">Day14-15</span>伊托夏國家公園（Etosha National Park）</h5>
        <div>
          <p>今天進入伊托夏國家公園，我們會在這個以大型的野生動物著名的國家公園住兩晚。其中一晚會到用泛光燈照明的水坑，觀賞前來喝水的動物。這兩天裡我們還會在國家公園驅車獵遊。另一個晚上則會在營區的餐廳吃晚飯(自費)。<span>BLD；BL</span></p>
          <img src="/images/nb-7.jpg" class="img-responsive">         
        </div>
        <h5><span class="day days">Day16</span>伊托夏（Etosha）- 瓦特貝格國家公園（Waterberg）</h5>
        <div>
          <p>早晨經過短暫的驅車獵遊之後，離開園區下到美好的瓦特貝格高原國家公園（Waterberg Plateau National Park）。此公園富多樣生態，有超過兩百不同品種的鳥類，在較低的丘陵則有一些不同品種的小羚羊出沒。下午步行到山頂，從峰頂飽攬喀拉哈里沙漠（Kalahari）的風光。在山腳歡度最後一晚的露營。<span>BLD</span></p>        
        </div>
        <h5><span class="day days">Day17</span>溫荷克（Windhoek）</h5>
        <div>
          <p>清早束裝重返文明，返回溫荷克車程約 5 小時，預計 13:00 回到首都。<span>BLD</span></p>        
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <aside>
          <h5 id="aside-1">重要訊息</h5>
          <ul>
          <li style="background-image:url(/images/itn-16.png)">可以透過大旅行家辦公室安排行程前一天和後一天的住宿</li>
          <li style="background-image:url(/images/itn-08.png)">團員必需自行攜帶睡袋、枕頭和盥洗用的毛巾。</li>
          <li style="background-image:url(/images/itn-19.png)">絕大部份的主要貨幣都可以在溫荷克或其它的市區兌換，但是需要注意銀行上班時間。大部分的地方也接受信用卡。</li>          
          <li style="background-image:url(/images/itn-09.png)">建議出發前注射季節性瘧疾疫苗(當地也可以施打)。</li>
          <li style="background-image:url(/images/itn-20.png)">本團團員得走不少路，所以需要攜帶輕便的背包。</li>
          <li style="background-image:url(/images/itn-21.png)">冬季夜間溫度可能降到攝氏零度以下，夏季白天溫度可能高達攝氏四十幾度，所以要有心理上的準備和衣物上的準備。</li>
          <li style="background-image:url(/images/itn-12.png)">出發之前，每位旅客都需要簽署一項訂位條件和一般資訊的附屬合約。旅客也需要擁有完善的個人旅遊保險。</li>
          </ul>
          <h5 id="aside-2">團費須知</h5>
          <ul>
            <li style="background-image:url(/images/itn-13.png)">包括所有的交通，食物，咖啡，茶，早餐的果汁，一位專業的導遊，團體裝備，住宿，特許証和公園入園費。</li>
            <li style="background-image:url(/images/itn-14.png)">不包括酒精飲料，瓶裝水，軟性飲料，美術珍品，小費和自費行程。</li>
            <li style="background-image:url(/images/itn-15.png)">自費項目<span>（實際項目會依當地情況增減）</span>：<br>
              <span>◆</span> 四人協力車<br>
              <span>◆</span> 沙丘滑沙<br>
              <span>◆</span> 高空跳傘<br>
              <span>◆</span> 乘船觀賞海中野生生物
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
  <section id="article-3" class="hidden-xs">
    <div class="container text-center">
      <h4>精彩亮點</h4>
      <div class="row">
        <div class="col-md-2 col-sm-4"><p>卡奧科維</p></div>
        <div class="col-md-2 col-sm-4"><p>埃普帕瀑布</p></div>
        <div class="col-md-2 col-sm-4"><p>敞篷車獵遊</p></div>
        <div class="col-md-2 col-sm-4"><p>斯比次山</p></div>
        <div class="col-md-2 col-sm-4"><p>漫步搜尋野生動物</p></div>
        <div class="col-md-2 col-sm-4"><p>達馬拉蘭</p></div>
        <div class="col-md-2 col-sm-4"><p>史瓦克蒙</p></div>
        <div class="col-md-2 col-sm-4"><p>私人沙漠營區</p></div>
        <div class="col-md-2 col-sm-4"><p>夜間沙漠獵遊</p></div>
        <div class="col-md-2 col-sm-4"><p>索蘇斯雷沙丘</p></div> 
        <div class="col-md-2 col-sm-4"><p>伊托夏國家公園</p></div> 
        <div class="col-md-2 col-sm-4"><p>乘坐四輪驅動車巡弋索蘇斯雷沙丘</p></div> 
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container">
      <div class="clearfix">
        <h4 class="pull-left">當地出發日期與空位</h4>
        <p class="pull-left">（所有日期都是根據當地出發地，並非從台灣出發）</p>
      </div>
      <div class="row" id='departure_preview'>
        <p style='text-align:center;'>Loading... this might take a while!</p>
        <div id='looking_for' style='display:none;'>Namibia_12_day</div>
      </div>
      <a href='<%= "#{contacts_url}" %>'>看更多>></a>
    </div>
  </section>
</article>