<link href="/css/itinerary.css" rel="stylesheet" />
<link href="/css/print.css" rel="stylesheet" media="print"/>
<style>
  #banner{background-image:url(/images/ug-01.jpg)}
</style>

<article>
  <section id="article-1">
    <div class="container text-center">
      <h3>大旅行家探險行程</h3>
      <h4>烏干達越野大探索 12 天</h4>
      <div class="row" id="intro">
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-01.png" class="img-responsive"><br><p>每月的第 2 個星期天</p>
        </div>
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-02.png" class="img-responsive"><br><p>恩德比>金賈</p>
        </div>
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-22.png" class="img-responsive"><br><p>2 晚小木屋</p>
        </div>
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-18.png" class="img-responsive"><br><p>10 晚露營</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>烏干達的自然美景俯拾皆是，人民也特別熱情友善，說她是非洲隱藏版的旅遊寶藏一點也不為過。這趟行程不僅包括了為人所熟知的尋找大猩猩和黑猩猩的原始森林徒步之旅，以及探索廣闊的運河，雲霧中的小村莊等等，也包含了鮮為人知的會爬樹的獅子，成群的河馬，以及無以數計的草原動物。我們盡可能地想要呈現烏干達最美麗的風景，人民和野生動物。這趟行程走下來約 2,000 公里，有些路況真的很糟，但是你的收穫卻遠遠勝過沿路的艱辛。每一趟的路線都會因為天氣，路況和其它當地狀況，而有所更動，有時候我們還會以反方向來操作這條路線，團員勢必得抱著開放與彈性的心態與自動自發的精神，才能好好享受這段旅程。</p>
        </div>
        <div class="col-sm-4 text-center"><img src="/images/ug-02.jpg" class="img-responsive"> </div>
      </div>
    </div>
  </section>  
  <section id="article-5">
    <div class="container">
    ( 用餐資訊：B=Breakfast, L=Lunch, D=Dinner )
    </div>
  </section>
  <section id="article-2">
    <div class="container row">
      <div class="col-sm-8" id="accordion">
        <h5><span class="day">Day1</span>恩德比─姆布羅湖國家公園（Lake Mburo Nat. Park）</h5>
        <div>
          <p>08：00 從恩德比附近的卡西亞旅館出發，在開始一路向西之前，先到生氣蓬勃的首都坎帕拉（Kampala）的郊區轉一轉。今天我們將拜訪非洲鼓市場，水果市場，並且在赤道停留。下午會轉往以草原動物和為數眾多的河馬著名的姆布羅湖國家公園，我們在湖畔的營區住宿。<span>D</span></p>
          <img src="/images/ug-03.jpg" class="img-responsive">          
        </div>
        <h5><span class="day">Day2</span>難以穿越的布恩迪森林（Bwindi Impenetrable Forest）</h5>
        <div>
          <p>以驅車／漫步獵遊展開新的一天，之後出園，途經綿延起伏的山丘，看到一排排的香蕉樹和成群令人大開眼界的長角牛（Ankole cattle）。下午我們通過顛簸的山路和通常被遮蔽在雲霧之中的村莊，朝著難以穿越的布恩迪森林前進。我們過夜的營地就在森林的邊緣。<span>BLD</span></p>    
        </div>
        <h5><span class="day">Day3~4</span>布恩迪大猩猩徒步之旅</h5>
        <div>
          <p>這兩天當中的一天，我們要參加無疑是這趟旅程最精采的部分──大猩猩徒步之旅！我們將分成幾個小組，在當地導遊的帶領之下，徒步進入森林尋找這幾個碩果僅存的野生高山大猩猩家族，並且就近觀察牠們。由於大猩猩許可證的數量有限，所以我們要讓各個小組分兩天輪流去看大猩猩，如果在第 4 天一天之中就拿到足夠的許可證，我們就會在第 3 天的時候去拜訪本奧尼湖（Lake Bunyoni）。在大猩猩徒步之旅以外的時間，我們會到村子裡去逛逛或是去森林邊緣賞鳥。<span>BLD；BLD</span></p>
          <img src="/images/ug-04.jpg" class="img-responsive">          
        </div>
        <h5><span class="day">Day5~6</span>伊麗莎白女王國家公園─伊沙沙（Ishasha）</h5>
        <div>
          <p>下山離開森林後，直抵綠草如茵的伊麗莎白女王國家公園，我們會有兩晚住在偏僻的營地。除了豐富的哺乳類動物，爬蟲類和鳥類外，伊沙沙最著名的就是會爬樹的大獅子。我們會驅車大面積獵遊尋找獅子愛攀爬的高大無花果樹，並且在一望無際的大草原上搜尋其它的野生動物。<span>BLD；BLD</span></p>       
        </div>
        <h5><span class="day">Day7</span>伊麗莎白女王國家公園─黑猩猩</h5>
        <div>
          <p>收拾好營地之後，我們出園，往莫拉瑪干布森林（Maramagambo Forest）的方向前進，希望可以看到黑猩猩和種類驚人的鳥類。今天下午抵達奇揚布拉峽谷（Kyambura Gorge），熟悉一下四周環境。晚上就地紮營。<span>BLD</span></p>      
          <img src="/images/ug-05.jpg" class="img-responsive">    
        </div>
        <h5><span class="day">Day8</span>魯文佐里山脈（Rwenzori Mountains）</h5>
        <div>
          <p>今天早晨穿過公園繼續往北到達號稱「月亮上的山脈」的魯文佐里山脈。在本地社區中心搭好帳篷之後，我們會走很長的一段路，途經許多鄉村，到達森林中的魯文佐里山脈。魯文佐里山脈高出海平面 5,000 公尺，儘管山坡上是熱帶森林，山頂卻總是被白雪所覆蓋，由於位於赤道之上，所以山頂積雪蔚為奇觀。<span>BLD</span></p>       
        </div>
        <h5><span class="day days">Day9</span>莫奇森瀑布國家公園（Murchison Falls National Park）</h5>
        <div>
          <p>早起下山，進入波特堡（Fort Portal）周遭青翠的綠茶園。我們驅車趕路，大部份的路況都很差。今晚的住宿地點為莫奇森瀑布國家公園的卡尼約－帕必迪營地（Kaniyo-Pabidi camp），提供相對來說較為舒適的設備。<span>BLD</span></p>         
        </div>
        <h5><span class="day days">Day10</span>莫奇森瀑布／維多利亞尼羅河（Victoria Nile）</h5>
        <div>
          <p>早起，在導遊的帶領之下尋找一群棲息在此的黑猩猩。在回到營地之前，我們希望能安排一小時跟黑猩猩共處的時光。接下來，我們前往莫奇森瀑布，這座瀑布開了一個小縫，讓尼羅河往下奔騰40米，沖進裂谷之中。我們會在此逗留一陣子，好好地欣賞瀑布。之後，我們順流而下，穿越尼羅河，以便享受在公園的北部驅車獵遊。今晚在一個大型的野生動物區宿營。<span>BLD</span></p>   
          <img src="/images/ug-06.jpg" class="img-responsive">         
        </div>
        <h5><span class="day days">Day11</span>齊瓦犀牛庇護區（Ziwa Rhino Sanctuary）</h5>
        <div>
          <p>早起，登船，悠哉地順尼羅河而下，希望在途中能捕捉到罕見的鯨頭鸛（Shoebill stork）的蹤影，並且看到許多其它的動物。（如果情況不允許搭船，我們會改搭車）。回到我們的座車。出得園來，往齊瓦犀牛庇護區前進，這是一個讓犀牛重返受到保護的棲息地的計劃。今晚宿營。<span>BLD</span></p>
          <img src="/images/ug-07.jpg" class="img-responsive">             
        </div>  
        <h5><span class="day days">Day12</span>金賈 （Jinja）</h5>
        <div>
          <p>今天早上，團員可以選擇參加徒步追蹤叢林中的犀牛的活動（自費）。在最後一次收拾營地之後，我們朝金賈前進，在相對來說較為舒適的阿德列夫營區過夜。今晚我們在餐廳用餐（自費），慶祝我們冒險成功。<span>BL</span></p>                 
        </div>
        <h5><span class="day days">Day13</span>金賈 （Jinja）</h5>
        <div>
          <p>早餐之後，本次旅程就告結束，不過，尼羅河有全世界最刺激的激流泛舟，這是一個不容錯過的一整天行程。團員也可在阿德列夫營區花一天的時間參加當地的社區活動。這些行程都是自費活動。我們建議想要享受這些活動，或只想在「尼羅河源頭」放鬆一下的團員，跟我們預訂多加一晚的營區住宿。<span>B</span></p>           
        </div>    
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <aside>
          <h5 id="aside-1">重要訊息</h5>
          <ul>
          <li style="background-image:url(/images/itn-16.png)">如果必要，我們可能會反方向操作這個行程。帶著開放的心胸和彈性的心態上路，才可適應繞路，延遲和其它種種在非洲的不便。</li>
          <li style="background-image:url(/images/itn-08.png)">團員必需自行攜帶睡袋、枕頭和盥洗用的毛巾。</li>
          <li style="background-image:url(/images/itn-19.png)">建議攜帶美金，並準備小額鈔票及零錢，所有的鈔票都需要是 2000 年或之後發行的鈔票。</li>          
          <li style="background-image:url(/images/itn-09.png)">建議防範瘧疾並且預防接種黃熱病疫苗。</li>
          <li style="background-image:url(/images/itn-20.png)">建議在徒步旅行時攜帶輕便背包。</li>
          <li style="background-image:url(/images/itn-23.png)">大部份國家的人民到烏干達都需要有簽證。取得簽證的責任由團員自負。</li>
          <li style="background-image:url(/images/itn-12.png)">出發之前，每位旅客都需要簽署一項訂位條件和一般資訊的附屬合約。旅客也需要擁有完善的個人旅遊保險。</li>
          </ul>
          <h5 id="aside-2">團費須知</h5>
          <ul>
            <li style="background-image:url(/images/itn-13.png)">包括所有的交通，住宿，進入費和特許證，一次大猩猩徒步之旅，一次黑猩猩徒步之旅，驅車和漫步獵遊。團體裝備，專業導遊和大部份的餐食。</li>
            <li style="background-image:url(/images/itn-14.png)">不包括酒精飲料，瓶裝水，軟性飲料，美術珍品，小費，簽證，稅金和團員自選自費行程。</li>
            <li style="background-image:url(/images/itn-15.png)">自費項目<span>（實際項目會依當地情況增減）</span>：<br>
              <span>◆</span> 「尼羅河的源頭」<br>
              <span>◆</span> 徒步追蹤犀牛<br>
              <span>◆</span> 拜訪俾格米（Pygmy）村<br>
              <span>◆</span> 尼羅河激流泛舟<br>
              <span>◆</span> 高空彈跳
            </li>
          </ul>
        </aside>
      </div>
      <div id="note"  class="col-sm-8">
        <h4>NOTE</h4>
        <table>
        <tr>
          <td valign="top">◆</td>
          <td>想要延東非經驗的團員，可以在週六由陸路或搭機前往奈洛比，參加我們12天的東非之旅。</td>
        </tr>
        <tr>
          <td valign="top">◆</td>
          <td>轉機前往恩德比──金賈，或金賈──恩德比的團員，可透過大旅行家預訂機票。</td>
        </tr>
        <tr>
          <td valign="top">◆</td>
          <td>旅程開始前一天在卡西亞旅館的住宿，或是旅程結束當天晚上在阿德列夫河營區的住宿，都可以透過大旅行家預訂（供應餐飲）。由於供不應求，團員會跟其它旅客共住一間房間。請注意在這個營區團員需要自備睡袋，營區不供應床單。</td>
        </tr>
        </table>
      </div>
    </div>
  </section>
  <section id="article-3" class="hidden-xs">
    <div class="container text-center">
      <h4>精彩亮點</h4>
      <div class="row">
        <div class="col-md-2 col-sm-4"><p>坎帕拉</p></div>
        <div class="col-md-2 col-sm-4"><p>赤道</p></div>
        <div class="col-md-2 col-sm-4"><p>姆布羅湖國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>難以穿越的布恩迪森林</p></div>
        <div class="col-md-2 col-sm-4"><p>大猩猩徒步之旅</p></div>
        <div class="col-md-2 col-sm-4"><p>伊麗莎白女王國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>會爬樹的獅子─伊沙沙</p></div>
        <div class="col-md-2 col-sm-4"><p>鄉村漫遊</p></div>
        <div class="col-md-2 col-sm-4"><p>賞鳥漫遊</p></div>
        <div class="col-md-2 col-sm-4"><p>黑猩猩徒步之旅<br><span>（包含特許證）</span></p></div> 
        <div class="col-md-2 col-sm-4"><p>卡津加運河<br><span>（Kazinga Channel）</span></p></div> 
        <div class="col-md-2 col-sm-4"><p>「月亮上的山脈」─ 魯文佐里山脈</p></div> 
        <div class="col-md-2 col-sm-4"><p>莫奇森瀑布＋國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>維多利亞尼羅河遊船</p></div>
        <div class="col-md-2 col-sm-4"><p>齊瓦犀牛庇護區</p></div>
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container">
      <div class="clearfix">
        <h4 class="pull-left">當地出發日期與空位</h4>
        <p class="pull-left">（所有日期都是根據當地出發地，並非從台灣出發）</p>
      </div>
      <div class="row" id='departure_preview'>
        <p style='text-align:center;'>Loading... this might take a while!</p>
        <div id='looking_for' style='display:none;'>Uganda_12_day</div>
      </div>
      <a href='<%= "#{contacts_url}" %>'>看更多>></a>
    </div>
  </section>
</article>