
<script src="/js/itinerary.js"></script> 
<link href="/css/itinerary.css" rel="stylesheet" />
<link href="/css/print.css" rel="stylesheet" media="print"/>
<style>
  #banner{background-image:url(/images/zb-01.jpg)}
</style>

<article>
  <section id="article-1">
    <div class="container text-center">
      <h3>大旅行家冒險行程</h3>
      <h4>辛巴威 16 天越野露營獵遊</h4>
      <div class="row" id="intro">
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-01.png" class="img-responsive"><br><p>每月的第 4 個星期三</p>
        </div>
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-02.png" class="img-responsive"><br><p>約翰尼斯堡>約翰尼斯堡</p>
        </div>
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-03.png" class="img-responsive"><br><p>3 晚旅館</p>
        </div>
        <div class="col-sm-3 clearfix">
          <img src="/images/itn-18.png" class="img-responsive"><br><p>12 晚露營</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>辛巴威無疑是次大陸最美麗的國家之一，她擁有無數壯麗的景觀，包括來自未知的過去的一座古代廢墟，非洲最大河川以及野生動物保護區無數的野生動物，完善的旅遊基礎建設以及活潑友善的人民。我們的旅途主要以露營獵遊為主，儘管沒那麼舒適，不過卻是驚險刺激。團員需抱持著彈性和開放的心態。</p>
        </div>
        <div class="col-sm-4 text-center"><img src="/images/zb-02.jpg" class="img-responsive"> </div>
      </div>
    </div>
  </section>  
  <section id="article-5">
    <div class="container">
    ( 用餐資訊：B=早餐 / L=午餐 / D＝晚餐 / Brunch=早午餐 )
    </div>
  </section>
  <section id="article-2">
    <div class="container row">
      <div class="col-sm-8" id="accordion">
        <h5><span class="day">Day1</span>約翰尼斯堡─大辛巴威</h5>
        <div>
          <p>06：30 從約翰尼斯堡綠火旅館出發之後，往北穿越邊境於中午來到貝特橋（Beit Bridge），完成邊境的入境手續後，繼續往北到馬斯文戈（Masvingo），進入大辛巴威，今天過夜的地方是較為舒適的旅館（三餐自理）。</p>           
        </div>
        <h5><span class="day">Day2~3</span>薩韋河野生動物保護區（Save River Game Reserve）</h5>
        <div>
          <p>今天與旭日同起，拜訪大辛巴威國家紀念碑遺址，在讚嘆於其宏偉的結構之餘，也對其起源之謎充滿了好奇。接下來我們往南到薩韋河野生動物保護區，這裡的野生環境居辛巴威之冠。我們會在這個我們私人的鄉下叢林營地裡住宿兩晚，靠著漫步和坐敞篷車獵遊，探索這個區域。<span>BLD；BLD</span></p> 
          <img src="/images/zb-03.jpg" class="img-responsive">      
        </div>
        <h5><span class="day">Day4</span>東部高原（Eastern Highland）</h5>
        <div>
          <p>離開低地，前往東部高原，這裡有壯麗的景色，森林，瀑布還有高山。今天下午我們會在附近山區短途健行。晚上在此紮營。<span>BLD</span></p>  
                    
        </div>
        <h5><span class="day">Day5</span>奇諾伊（Chinhoyi）</h5>
        <div>
          <p>今天起個大早，沿著蜿蜒的山路往西走，到達首都哈拉雷（Harare），我們在此稍事休息並進午餐（自理）。離開哈拉雷之後，繼續前行至奇諾伊附近的營地，並且在營區附近的曠野漫步。<span>BD</span></p>      
        </div>
        <h5><span class="day">Day6</span>卡里巴（Kariba）</h5>
        <div>
          <p>開一小段路之後就開始沿著祖傳的大象路徑向下到達尚比西谷地。接著到達世界第三大人造湖泊卡里巴湖。下午我們在湖上搭著小艇乘風破浪，然後回到湖邊的營地過夜。<span>BLD</span></p>        
          <img src="/images/zb-04.jpg" class="img-responsive">    
        </div>
        <h5><span class="day">Day7</span>尚比亞（Zambia）</h5>
        <div>
          <p>探索完卡里巴鎮之後，我們的越過水壩的高牆到達尚比亞，下一站是位於卡富埃（Kafue）與壯闊的尚比西河交會處的吉瓦比（Gwabi）。下午養精蓄銳以應付明天的獨木舟之旅。今晚露營。<span>BLD</span></p>         
        </div>
        <h5><span class="day">Day8~10</span>尚比西河獨木舟之旅</h5>
        <div>
          <p>大名鼎鼎的尚比西河（Zambezi River）是一條佈滿河馬和鱷魚的雄偉大河，而且吸引了各種各樣的動物來沙岸邊喝水。我們的探險之旅從吉瓦比開始，順流而下到達馬那波爾斯（Mana Pools），每個人到達的時間可以依自己的速度和體力而定。我們有兩天的時間會一邊划船，跟強力的水流奮戰，一邊觀賞野生動物和鳥類，晚上天天都在曠野中露營。這趟旅程在瓊戈偉河（Chongwe River）劃下句點。我們乘船回到吉瓦比營地，好好地享受一頓餐廳歡迎大餐（自費）。<span>BLD；BLD；BL</span></p>    
          <img src="/images/zb-05.jpg" class="img-responsive">      
        </div>
        <h5><span class="day">Day11~12</span>維多利亞瀑布（Victoria Falls）</h5>
        <div>
          <p>今天起個大早，經由利文斯頓（Livingstone）穿越尚比亞到達維多利亞瀑布，一睹瀑布的風貌之後，穿越原始的鐵道橋到達辛巴威。在這個生氣蓬勃的小鎮中我們可以慢慢閒逛，探索節比鱗次的藝品店和其它的景點。我們會在維多利亞瀑布綠火旅館住兩個晚上，讓想要參加瀑布下激流泛舟（自費）的人，有一整天的餘暇來從事這個活動。我們兩天中的一個晚上會去餐廳吃飯（自理）。<span>BLD；B</span></p>   
        <img src="/images/zb-06.jpg" class="img-responsive">         
        </div>
        <h5><span class="day">Day13</span>萬基（Hwange）</h5>
        <div>
          <p>離開熱鬧的維多利亞瀑布，朝我們在萬基的私人叢林營地前進。今天下午／晚上，我們會在這個以成群的野生動物著名的區域進行驅車／漫步獵遊。晚上睡在營地裡。<span>BLD</span></p>    
        </div>  
        <h5><span class="day">Day14</span>布拉瓦約（Bulawayo）─馬托博（Matobo）</h5>
        <div>
          <p>早起，用過早餐後，前往布拉瓦約寬闊的街道，然後再到我們在馬托博的營地，這個營地裡充斥著以怪異的狀態維持平衡的漂石。今天下午我們在國家公園裡漫步獵遊，並且追蹤犀牛的足跡，之後再回到營地到當地的餐廳飽餐一頓（自費）。<span>BL</span></p>                     
        </div>
        <h5><span class="day">Day15</span>林波波（Limpopo）</h5>
        <div>
          <p>開始往回家的路走，穿越邊界回到南非，然後開短短的一段路到達喀拉哈利沙地草原私人野生動物保護區的營地。我們會在這裡悠閒地度過下午，並且欣賞這塊私人保護區中的布希曼人壁畫和動物。<span>BL</span></p>
          <img src="/images/zb-07.jpg" class="img-responsive">                         
        </div>
        <h5><span class="day">Day16</span>約翰尼斯堡</h5>
        <div>
          <p>今天早上我們輕鬆地起床，收拾帳篷，繼續往南走，下午時分抵達約翰尼斯堡。<span>B</span></p>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <aside>
          <h5 id="aside-1">重要訊息</h5>
          <ul>
          <li style="background-image:url(/images/itn-16.png)">在旅遊旺季期間，可能會有兩團同時出發，有一團可能會以反方向操作行程。</li>
          <li style="background-image:url(/images/itn-08.png)">團員必需自行攜帶睡袋、枕頭和盥洗用的毛巾。</li>        
          <li style="background-image:url(/images/itn-09.png)">出發前需要注射季節性瘧疾疫苗（當地也可施打）。</li>
          <li style="background-image:url(/images/itn-23.png)">本行程需要效期內的護照，大部分國籍的團員都可在邊境取得簽證。</li>
          <li style="background-image:url(/images/itn-12.png)">出發之前，每位旅客都需要簽署一項訂位條件和一般資訊的附屬合約。旅客也需要擁有完善的個人旅遊保險。</li>
          </ul>
          <h5 id="aside-2">團費須知</h5>
          <ul>
            <li style="background-image:url(/images/itn-13.png)">包括約翰尼斯堡來回交通費，食物，咖啡，茶，早晨的果汁，團體裝備，住宿，進入費和特許證，一名專業導遊，驅車和漫步獵遊。維多利亞瀑布入內費，獨木舟之旅，專業導遊和大部份的餐食。</li>
            <li style="background-image:url(/images/itn-14.png)">不包括酒精飲料，瓶裝水，軟性飲料，美術珍品，簽證費，小費，餐廳飲食，機票，機場稅，轉機費和諸如激流泛舟和高空彈跳等自選行程。</li>
            <li style="background-image:url(/images/itn-15.png)">自費項目<span>（實際項目會依當地情況增減）</span>：<br>
              <span>◆</span> 激流泛舟<br>
              <span>◆</span> 高空彈跳
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </section>
  <section id="article-3" class="hidden-xs">
    <div class="container text-center">
      <h4>精彩亮點</h4>
      <div class="row">
        <div class="col-md-2 col-sm-4"><p>大型古紀念碑遺址</p></div>
        <div class="col-md-2 col-sm-4"><p>歷史景點</p></div>
        <div class="col-md-2 col-sm-4"><p>高山健行</p></div>
        <div class="col-md-2 col-sm-4"><p>非洲文化</p></div>
        <div class="col-md-2 col-sm-4"><p>尚比西河獨木舟獵遊</p></div>
        <div class="col-md-2 col-sm-4"><p>薩韋野生動物保護區</p></div>
        <div class="col-md-2 col-sm-4"><p>卡里巴河遊船</p></div>
        <div class="col-md-2 col-sm-4"><p>維多利亞瀑布</p></div>
        <div class="col-md-2 col-sm-4"><p>漫步獵遊</p></div>
        <div class="col-md-2 col-sm-4"><p>敞篷車獵遊</p></div>
        <div class="col-md-2 col-sm-4"><p>萬基</p></div>
        <div class="col-md-2 col-sm-4"><p>馬托布國家公園</p></div>
        <div class="col-md-2 col-sm-4"><p>步行追蹤犀牛</p></div>
      </div>
    </div>
  </section>
  <section id="article-4" class="hidden-xs">
    <div class="container">
      <div class="clearfix">
        <h4 class="pull-left">當地出發日期與空位</h4>
        <p class="pull-left">（所有日期都是根據當地出發地，並非從台灣出發）</p>
      </div>
      <div class="row" id='departure_preview'>
        <p style='text-align:center;'>Loading... this might take a while!</p>
        <div id='looking_for' style='display:none;'>Zimbabwe_16_day</div>
      </div>
      <a href='<%= "#{contacts_url}" %>'>看更多>></a>
    </div>
  </section>
</article>