<link rel="stylesheet/less" type="text/css" href="/css/global.less" />
<style>
article{background:#A5937B}
article img{display:inline!important;margin:30% 0}
</style>
<article>
  <div class="container text-center">
    <a href="index.html"><img src="/images/tmp-02.jpg" class="img-responsive"></a>
  </div>
</article>

<script>
  // setTimeout(function() { window.location.href = '<%= root_url %>'; }, 1000);
</script>