<footer>
  <div class="container row">
    <div class="col-sm-3 col-sm-offset-2" id="link">
      <div id="link-1"> <%= link_to "立刻報名", contacts_path, 'data-no-turbolink' => true %> </div>
      <div id="link-2"> <a href="https://www.flickr.com/photos/drifters_tw/" target="_blank"><img src="/images/fot-06.gif" class="img-responsive"><br>
        Flickr</a><a href="https://www.facebook.com/drifters.tw" target="_blank"><img src="/images/fot-07.gif" class="img-responsive"><br>
        Facebook</a> </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2 text-right" id="info"> <a href="mailto:info@drifters.com.tw" target="_blank"><img src="/images/fot-04.png">info@drifters.com.tw</a><br>
      TEL: <a href="tel:+886223961768">(02) 2396-1768</a><br>
      FAX: (02) 2392-7058<br>
      台北市中正區忠孝東路二段 112 號 5 樓<br>
      <br>
      <br>
      <br>
      Copyright © All Rights Reserved. </div>
    <div id="gotop"><a href="#header"><img src="/images/fot-03.png" class="img-responsive"></div>
  </div>
</footer> 